# Elasticsearch Configuration
ES_URL=""
#ES_CLOUD_ID=""
ES_API_KEY=""

# AWS Configuration
AWS_REGION="us-west-2"
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
SENDER_EMAIL_ADDRESS=""
REPLY_TO_EMAIL_ADDRESSES=""

# MCP Server Paths
AWS_SES_MCP_SERVER_PATH="./mcp-servers/aws-ses-mcp/build/index.js"
WEATHER_MCP_SERVER_SCRIPT_PATH="./mcp-servers/weather/weather.py"